:root {
    --Blue-Back: #5E8AF9;
    --Purple-Front: #E40DFF;
    --FontSmall: 'Montserrat', sans-serif;
    --FontBig: 'lato', sans-serif;
}
main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 50% 1fr;
    grid-template-columns: repeat(3 , 1fr);
}
.loginPanel, .registerPanel {
    font-size: 1.5rem;
    grid-row: 1/4;
    grid-column: 2;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
form input:not([type='submit']){
    font-family: var(--FontSmall);
    width: 60%;
    padding:5px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}
.loginPanel{
    display:none;
}
.registerPanel{
    display:initial;
}
.Null{
    grid-area: empty;
}
.styledButton {
    font-weight: 400;
    text-decoration: none;
    border: none;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: transparent;
}
.styledButton:hover{
    font-weight:bold;
}

.loginBox form input:not([type='submit']) {
    font-family: var(--FontSmall);
    width: 90%;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


