/*Styling for all pages*/
* {
    font-family: 'Montserrat', sans-serif;
}
:root {
    --Grey-Back: #514c3c;
    --Purple-Front: #FFDD0D;
    --FontSmall: 'Montserrat', sans-serif;
    --FontBig: 'lato', sans-serif;
}

html{
    width:100%;
    overflow-x:hidden;
    margin:0;
}

body {
    width:100%;
    min-height: 100vh;
    /*display: grid;*/
    /*grid-template-Rows: 220px 100px 1fr 100px;*/
    margin: 0;
   
}

p, a {
    font-family: var(--FontSmall);
}
h1 {
    font-family: var(--FontBig);
    font-weight: 900;
}
h2, h3, h4 {
    font-family: var(--FontBig);
}
/*HEADER FILES*/
header {
    grid-row: 0;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 1fr 3fr 1fr;
    
}
#logo {
    grid-row:2;
    grid-column: 2;
    font-size: 4.0rem;
    margin-right: 30px;
    text-align:center;
    
}
nav {
    
    grid-column: 2;
    grid-row: 1;
    display: inline;
    float:right;
    font-size: 1.8rem;
    text-align: right;
}
nav a{
    display:inline;
}
#CartLink{
    
}
#CartLink img {
    width: 1.8rem;
}
/*Header END*/


.styledLink, .styledLink:visited .styledLink:link{
    font-weight:500;
    padding-left:20px;
    text-decoration:none;
    color: #000;
    
    
}
.styledLink:hover {
    
    font-weight: bold;
}
.styledButton {
    font-weight: bold;
    text-decoration: none;
    background-color: var(--Purple-Front);
    color: #ffffff;
}
.sexy-line {
    margin: 10px 0;
    height: 1px;
    background: var(--Grey-Back);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, var(--Grey-Back)));
}
/*Filter selection*/
.rooms {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 1.8rem;
    text-align:center;

    margin: 30px 0px 20px 0px;
    
}
.hoverable:not(#Out-link) {
    border-right: solid 0.5px var(--Grey-Back);
}
.hoverable-sub{
    display:none;
    width:100%;
    text-align:center;
    height:50px;
    font-size: 1.6rem;
    background-color: var(--Grey-Back);
    color: white;
    
}
.displaySub{
    display:grid;
    grid-template-rows: 0.5fr 1fr 0.5fr; 
    
}
.displaySub a{
    grid-row: 2;
}

.displaySub.Bed-selection, .displaySub.Living-selection {
    grid-template-columns: 1fr 1fr 1fr;
}
.displaySub.Kitchen-selection, .displaySub.Outdoor-selection {
    grid-template-columns: 1fr 1fr;
}
/*Filter End*/

.content {
    width: 100%;
    min-height: 50vh;
    margin: 0 auto;
    background-color: white;
}
/*Footer*/
footer {
    
    font-size: 1.4rem;
    border-Top: solid 5px black;
    
}
footer p{
    margin-left: 10px;
}
