/*Styling for all pages*/
:root {
    --Blue-Back: #5E8AF9;
    --Purple-Front: #FFDD0D;
    --FontSmall: 'Montserrat', sans-serif;
    --FontBig: 'lato', sans-serif;
}

html{
    width:100%;
    overflow-x:hidden;
    margin:0;
}

body {
    width:100%;
    min-height: 100vh;
    display: grid;
    grid-template-Rows: 100px 1fr 100px;
    margin: 0;
    background-color: var(--Blue-Back);
}

p, a {
    font-family: var(--FontSmall);
}
h1 {
    font-family: var(--FontBig);
    font-weight: 900;
}
header {
    grid-row: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: solid 5px black;
    background: url(Images/pattern.png)repeat-x; 
    background-color: var(--Blue-Back);
    color: white;
    text-shadow: 2px 2px black;
}
#logo {
    grid-column: 1;
    font-size: 3.5rem;
    margin-right: 30px;
    
}
nav {
    margin: auto 0;
    margin-right: 30px;
    grid-column: 2/5;
    font-size: 2.8rem;
    text-align: right;
}
.styledLink, .styledLink:visited .styledLink:link{
    font-weight:500;
    padding-left:20px;
    text-decoration:none;
    color: #ffffff;
}
.styledLink:hover {
    text-decoration: underline;
    font-weight: bold;
}
.styledButton {
    font-weight: bold;
    text-decoration: none;
    background-color: var(--Purple-Front);
    color: #ffffff;
}

.content {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    
}
footer {
    background: url(Images/pattern_Flipped.png)repeat-x;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: var(--Blue-Back);
    text-shadow: 2px 2px black;
    border-Top: solid 5px black;
}
